<%= form_with(model: folder, local: true, class: 'folder-edit') do |form| %>
  <% if folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
        <% folder.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex justify-content-between">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <%= form.submit %>
  </div>

  <div class="d-none field">
    <%= form.label :user_id %>
    <%= form.hidden_field :user_id %>
  </div>
<% end %>
