<% if current_user %>

  <%= render 'sidebar', folder: @folder %>

  <main class="main">
    <h1>Edit <%= @folder.name %></h1>

    <%= render 'form', folder: @folder %>
    <%= link_to 'Delete Folder', @folder, method: :delete, data: { confirm: "Are you sure you want to permanently delete this folder?" }, class: "button danger" %>
  </main>

<% else %>
  <main class="main">
    <%= render "layouts/signin" %>
  </main>
<% end %>
