<% if current_user %>

  <%= render 'sidebar', folder: @folder %>

  <main class="main">
    <h1>Your Folders</h1>
    <% @folders.each do |folder| %>
      <div class="article">
        <div class="sort-title-wrapper">
          <div class="folder">
            <%= inline_svg("folder-open-solid.svg") %>
          </div>
          <div class="title-wrapper">
            <p class="title"><%= folder.name %></p>
          </div>
        </div>
        <div class="archive-delete-wrapper">
          <%= link_to inline_svg("edit-solid.svg"), edit_folder_path(folder) %>
          <%= link_to inline_svg("trash.svg"), folder, method: :delete, data: { confirm: "Are you sure you want to permanently delete this folder?" }, class: "delete" %>
        </div>
      </div>
    <% end %>
  </main>

<% else %>
  <main class="main">
    <%= render "layouts/signin" %>
  </main>
<% end %>
