<% if current_user %>

  <%= render 'sidebar', folder: @folder %>

  <main class="main">

    <h1>
      <%= @folder.name %>
      <% unless default_folder? %>
        <%= link_to edit_folder_path(@folder) do %>
          <%= inline_svg("edit-solid.svg") %>
          Edit
        <% end %>
      <% end %>
      </h1>

    <div id="articles" data-folder="<%= @folder.id %>">
      <% Array(@articles).each do |article| %>
        <div class="article" data-id="<%= article.id %>">
          <div class="sort-title-wrapper">
            <% unless current_page?(folder_path("archive")) %>
              <div class="sort">
                <%= inline_svg("sort-solid.svg") %>
              </div>
            <% end %>
            <div class="title-wrapper">
              <p class="title"><%= link_to article.title, article_path(article.id) %></p>
              <p class="link"><%= url_only(article.link) %><%= link_to article.link, target: :_blank do %><%= inline_svg('external-link-alt-solid.svg') %><% end %></p>
            </div>
          </div>
          <div class="archive-delete-wrapper">
            <% unless current_page?(folder_path("archive")) %>
              <%= link_to inline_svg("archive.svg"), archive_article_path(article), method: :patch, class: "archive", title: "Archive this Article" %>
            <% end %>
            <% unless current_page?(folder_path("unread")) %>
              <%= link_to inline_svg("home.svg"), unarchive_article_path(article), method: :patch, class: "archive", title: "Move to Unread Folder" %>
            <% end %>
            <%= link_to inline_svg("trash.svg"), article_path(article), method: :delete, data: { confirm: "Are you sure you want to permanently delete this article?" }, class: "delete", title: "Delete This Article" %>
          </div>
        </div>
      <% end %>
    </div>
    <%== pagy_nav(@pagy).html_safe if @pagy.pages > 1 %>
  </main>

<% else %>
  <main class="main">
    <%= render "layouts/signin" %>
  </main>
<% end %>
