<% if current_user %>

  <aside class="sidebar">
    <nav class="widget" itemscope itemtype="https://schema.org/SiteNavigationElement">
      <a id="add-link" class="active primary" href="/add-link/" itemprop="url"><%= inline_svg('plus-solid.svg') %>Add Link</a>
      <%= link_to folder_path("unread"), class: ("active" if current_page?(folder_path("unread"))), itemprop: "url" do %><%= inline_svg('home.svg') %>Unread<% end %>
      <%= link_to folder_path("archive"), class: ("active" if current_page?(folder_path("archive"))), itemprop: "url" do %><%= inline_svg('archive.svg') %>Archive<% end %>
      <% Array(sidebar_folders).each do |folder| %>
        <%= link_to folder_path(folder.permalink), class: ("active" if current_page?(folder_path(folder.permalink))), itemprop: "url" do %><%= inline_svg('folder-open-solid.svg') %><%= folder.name %><% end %>
      <% end %>
      <%= form_with(url: folders_path, id: 'new-folder') do |form| %>
        <%= inline_svg('folder-open-solid.svg') %>
        <%= form.label :name, class: "screen-reader-text" %>
        <%= form.text_field :name, placeholder: "Add Folder" %>
        <%= form.submit %>
      <% end %>
    </nav>
  </aside>

  <main class="main">
    <div id="articles" data-folder="<%= @folder.id %>">
      <% Array(@articles).each do |article| %>
        <div class="article" data-id="<%= article.id %>">
          <div class="sort-title-wrapper">
            <% unless current_page?(folder_path("archive")) %>
              <div class="sort">
                <%= inline_svg("sort-solid.svg") %>
              </div>
            <% end %>
            <div class="title-wrapper">
              <p class="title"><%= article.title %></p>
              <p class="link"><%= url_only(article.link) %><%= link_to article.link do %><%= inline_svg('external-link-alt-solid.svg') %><% end %></p>
            </div>
          </div>
          <div class="archive-delete-wrapper">
            <% unless current_page?(folder_path("archive")) %>
              <%= link_to inline_svg("archive.svg"), archive_article_path(article), method: :patch, class: "archive" %>
            <% end %>
            <% unless current_page?(folder_path("unread")) %>
              <%= link_to inline_svg("home.svg"), unarchive_article_path(article), method: :patch, class: "archive" %>
            <% end %>
            <%= link_to inline_svg("trash.svg"), article_path(article), method: :delete, data: { confirm: "Are you sure you want to permanently delete this article?" }, class: "delete" %>
          </div>
        </div>
      <% end %>
    </div>
    <%== pagy_nav(@pagy).html_safe if @pagy.pages > 1 %>
  </main>

<% else %>
  <main class="main">
    <%= render "layouts/signin" %>
  </main>
<% end %>
