<main class="main">

  <h2 class="section__title">Resend unlock instructions</h2>
  <div class="section">    
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "user/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Resend unlock instructions" %>
      </div>
    <% end %>
  </div>

  <%= render "user/shared/links" %>
</main>
