<!DOCTYPE html>
<html>
  <head>
    <title>Portholes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="site-header" itemscope itemtype="https://schema.org/WPHeader">

      <div class="title-area">
        <% if user_signed_in? %>
          <p class="site-title" itemprop="headline"><%= link_to "Portholes", folder_path("unread") %></p>
        <% else %>
          <p class="site-title" itemprop="headline"><%= link_to "Portholes", folder_path("unread") %></p>
        <% end %>
      </div>

      <button class="responsive-menu-icon" aria-expanded="false" aria-controls="navigation">Menu</button>

      <nav class="navigation" id="navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
        <ul class="menu" data-collapsed="true">
        <% if user_signed_in? %>
          <% if downloadable_folder? %>
            <%= content_tag(:li, link_to("Download", "javascript:void(0);", onclick: "modal('download-modal')", itemprop: "url"), class: "menu-item") %>
          <% end %>
          <%= content_tag(:li, link_to("Account Settings", edit_user_registration_path, itemprop: "url"), class: ["menu-item", ("active" if current_page?(edit_user_registration_path))]) %>
          <%= content_tag(:li, link_to("Sign Out", destroy_user_session_path, method: :delete, itemprop: "url"), class: "menu-item") %>
        <% else %>
          <%= content_tag(:li, link_to("Sign In", new_user_session_path, itemprop: "url"), class: ["menu-item", ("active" if current_page?(new_user_session_path))]) %>
          <%# content_tag(:li, link_to("Create Account", new_user_registration_path, itemprop: "url"), class: ["menu-item", ("active" if current_page?(new_user_registration_path))]) %>
        <% end %>
      </nav>
    </header>

    <div class="site-inner">
      <%= render "layouts/flash" %>
      <%= yield %>
    </div>

    <% if downloadable_folder? %>
      <div id="download-modal" class="modal">
        <div class="modal__content">
          <div class="modal__header">
            Download
            <span class="modal__close" data-close="true" title="Close">&times;</span>
          </div>
          <div class="modal__body">
            <%= link_to("Mobi", mobi_folder_path, itemprop: "url", class: "button") %>
            <%= link_to("ePub", epub_folder_path, itemprop: "url", class: "button") %>
          </div>
        </div>
      </div>
    <% end %>

    <footer></footer>

  </body>

</html>
